<div class="container m-5">


<h1 class= "mb-5" >All My Bookings</h1>

<%# --- Nav Tab --- %>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Upcoming</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Past</a>
  </li>
 
</ul>

<%# --- Cards %>
<div class="cards row">

  <% @bookings.each do |booking| %>
    <div class="card card-rounded m-2" style="width: 18rem;">
      
       <% if booking.garden.photo.attached? %>
            <%= cl_image_tag booking.garden.photo.key, height: 180, crop: :fill, class: "card-img-top" %>
          <% else %>
            <%= image_tag "backyard-default.jpg", height: 180, crop: :fill, class: "card-img-top" %>
        <% end %>
      
      <div class="card-body ml-4">
        <h5 class="card-title"><%= booking.garden.title %></h5>
        <p class="card-text">Booking date: <%= booking.date %></p>
        
        <%= link_to 'Detail'.html_safe, booking_path(booking), class: "btn btn-primary btn-rounded" %>
        
      </div>

    </div>
  <% end %>
</div>

</div>