<footer>
  <ul>
    <li><%= link_to "Home", root_path, class:"footer-link" %></li>
    <li class="footer-link">|</li>
    <li><%= link_to "All gardens", gardens_path, class:"footer-link" %></li>
    <li class="footer-link">|</li>
    <li><%= link_to "All bookings", bookings_path, class:"footer-link" %></li>
    <% if current_user.nil? %>
      <%= link_to "Log in", new_user_session_path %>
      else
      <%= link_to "Log out", destroy_user_session_path %>
    <% end %>
  </ul>
  <div class="breakline"></div>
  <div class="site-info"><cite>© Book My Backyard Inc • Privacy • Terms • Modern Slavery Statement</cite></div>
</footer>
