  <div class="hero-flex">
    <div class="hero-text">
      <h1>Book my Backyard</h1>
      <h3>We know it can be tough to find the space to socialise, exercise or just relax in London. Book my backyard allows you to book private gardens, patios and terraces so you can find the perfect escape right on your doorstep.</h3>
      <div class="button"><%= link_to "Find a backyard", gardens_path, class:"cta" %></div>
      </div>
    <%= image_tag "homepage-hero.png", crop: :fill, class: "hero-img" %>
  </div>

    <div class="favourite-gardens">
    <h2>Our favourite gardens this month</h2>
    <div class="cards-wrapper">
    <% @gardens.each do |garden| %>
        <div class="card scrollcard" style="width: 18rem;">
          <% if garden.photo.attached? %>
            <%= cl_image_tag garden.photo.key, crop: :fill, class: "card-img-top" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= garden.title %></h5>
            <p class="card-text"><%= garden.description %></p>
            <%= link_to "See more", garden_path(garden.id), class: "btn btn-primary" %>
          </div>
        </div>
    <% end %>
      </div>
    </div>
  <div class="quotes">
    <h2>What our users are saying</h2>
      <% reviewOne = @reviews.sample %>
      <div class="quote">
        <h4><%= reviewOne.description.capitalize %></h4>
          <small class="text-muted">
            <cite title="Reviewer"><%= reviewOne.booking.user.name.capitalize %></cite>
          </small>
      </div>
      <div class="quote">
      <% reviewTwo = @reviews.sample %>
        <h4><%= reviewTwo.description.capitalize %></h4>
          <small class="text-muted">
            <cite title="Reviewer"><%= reviewTwo.booking.user.name.capitalize %></cite>
          </small>
      </div>
      <div class="quote">
      <% reviewThree = @reviews.sample %>
        <h4><%= reviewThree.description.capitalize %></h4>
          <small class="text-muted">
            <cite title="Reviewer"><%= reviewThree.booking.user.name.capitalize %></cite>
          </small>
    </div>
    </div>
