<h1>Edit your garden</h1>

<%= simple_form_for @garden do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.input :postcode %>
  <%= f.input :toilet, as: :boolean, checked_value: true, unchecked_value: false %>
  <%= f.submit %>
<% end %>