<h1 class = 'm-5'>All Gardens</h1>
<div class="d-flex">

  <div class="cards d-flex flex-wrap ml-4">
      <%# --- Garden Cards --- %>
      <% @gardens.each do |garden| %>
      <div class="card card-rounded mx-2 mb-3" style="width: 13rem;">

          <% if garden.photo.attached? %>
              <%= cl_image_tag garden.photo.key, height: 180, crop: :fill, class: "card-img-top" %>
            <% else %>
              <%= image_tag "backyard-default.jpg", height: 180, crop: :fill, class: "card-img-top" %>
          <% end %>

          <div class="card-body card-body-bottom ml-3">
            <h5 class="card-title divider"> <%= garden.title %> </h5>
            <p class="card-text"> Fit: <%= garden.capacity %> people </p>
            <p class="card-text" style="margin-bottom:10px;"> £<%= garden.price.round %> /day </p>
            <p class="card-text text-truncate text-black-50"> <%= garden.description%></p>
            <%= link_to "Details", garden_path(garden), class: "btn btn-outline-primary btn-rounded text-center btn-bottom" %>
          </div>

        </div>
      <% end %>
    </div>

    <%# --- MAP --- %>
    <div id="map"
        class="card-rounded"
        style="width: 100%; height: 100vh;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  </div>
