<div class="container">
  <div class="row justify-content-center">
    <div class="col-m-8 ">
    
      <div class="garden-new-form p-5" >
      <h1 > Create your garden</h1>
      <p class="mb-5" >Rent your garden any time you like </p>
        <%= simple_form_for @garden do |f| %>
          <%= f.input :title, label: 'Name' %>
          <%= f.input :description, class: "btn-rounded" %>
          <%= f.input :address %>
          <%= f.input :price %>
          <%= f.input :capacity %>
          <p>Facilities:</p>
          <div class="d-flex justify-content-between features">
            <%= f.input :toilet, as: :boolean, checked_value: true, unchecked_value: false, boolean_style: :inline %>
            <%= f.input :bbq, as: :boolean, checked_value: true, unchecked_value: false, boolean_style: :inline %>
            <%= f.input :rain_shelter, as: :boolean, checked_value: true, unchecked_value: false, boolean_style: :inline %>
            <%= f.input :peaceful, as: :boolean, checked_value: true, unchecked_value: false, boolean_style: :inline %>
            <%= f.input :heater, as: :boolean, checked_value: true, unchecked_value: false, boolean_style: :inline %>
          </div>
          <%= f.input :photo, label: 'Add Photo:', as: :file %>
          <%= f.submit "Create Garden", class: "btn btn-primary btn-rounded w-100 py-3" %>
        <% end %>
      </div>

    </div>
  </div>
</div>

