  <div class="garden-header">
    <h2><%= @garden.title.capitalize %></h2>
    <p><%= @garden.address %></p>
    <p><%= @garden.price %></p>
    <p><%= @garden.capacity %></p>
  </div>

  <div class="garden-images">
      <div class="grid-container">
      <% if @garden.photo.attached? %>
          <%= cl_image_tag @garden.photo.key, crop: :fill %>
        <% else %>
          <%= image_tag "backyard-default.jpg", crop: :fill %>
      <% end %>
      </div>
      <div class="card-body">
          <h3>Hosted by <%= @garden.user.name.capitalize %></h3>
      </div>
      <% if current_user == @garden.user %>
        <div class="edit-delete">
            <h3><%= link_to "Delete Garden",
              garden_path(@garden),
              method: :delete,
              data: { confirm: "Are you sure?" }%></h3>
            <h3><%= link_to "Edit Garden", edit_garden_path %></h3>
        </div>
      <% end %>
  </div>

  <div class="features-and-form">
    <div class="features">
      <ul>
        <% if @garden.bbq %><li>ðŸ”¥ BBQ</li><% end %>
        <% if @garden.peaceful %><li>âœŒ Peaceful</li><% end %>
        <% if @garden.heater %><li>ðŸ¥µ Heater</li><% end %>
        <% if @garden.toilet %><li>ðŸš½ Toilet</li><% end %>
        <% if @garden.rain_shelter %><li>â˜” Shelter</li><% end %>
      </ul>
    </div>

    <div class="booking-form p-3 w-40">
      <%= simple_form_for [ @garden, @booking ] do |f| %>
        <%= f.input :date %>
        <%= f.submit "Make booking", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class="garden-description">
    <p><%= @garden.description %></p>
    <hr size="8" width="95%" color="grey">
  </div>

  <div class="card-columns reviews">
    <h4>Reviews</h4>
    <% @garden.reviews.each do |review| %>
    <div class="card p-3">
      <blockquote class="blockquote mb-0 card-body">
       <h2><%= review.title.capitalize %></h2>
       <p><%= "â­ï¸" * review.rating %></p>
       <p><%= review.description.capitalize %></p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            <cite title="Reviewer"><%= review.booking.user.name.capitalize %></cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <% end %>
  </div>
